/* general rule */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
font-family: 'Roboto', sans-serif;
}
/* common */
.container{
    max-width: 1400px;
    margin: auto;
}
.small-container{
    max-width: 1200px;
    margin: auto;
}
/* header */
.header-top .container {
    background-color:#255ee9 ;   
}
.title{
    display: flex;
}
.title .fa-brands,h1{
    
    margin-top: 40px;
    color: white;
   
}
.fa-brands{
    vertical-align: middle;
    margin-left: 200px; 
    font-size: 40px;
    padding-bottom: 60px;
    
}
h1{
    vertical-align: middle;
    margin-left: 10px;
    font-size: 25px;
    padding-top: 10px;
}
.entry{ margin-top: 60px;
    margin-left: 200px;
}
 .header-bottom {
    min-height: 1000px;
    background-image: url(../img/jumbo.png)
      
}
.header-bottom .big-title{
    display: flex;
    justify-content: center;
    

}


.header-bottom h2{
    font-size: 70px;
    font-weight: bold;
    margin-top: 200px;
    color: white;
    

}
 .description p{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    color: white;
    
}

.choise-option{
    display: flex;
    justify-content: center;
    
}

/* main */
.start-information{
    display: flex;
    justify-content: center;
}
.start-information h3{
    font-size: 45px;
    padding-top: 20px;
    margin: 20px 0 0 25px;
}
.start-information img{
    margin-top: 20px;
}
.information p{
    font-size: 23px;
    font-weight: lighter;
    margin-top: 52px;
    
}
.center-information{background-image: url(../img/wave.svg);
display: flex;
justify-content: center;
margin-top: 200px;



}
.center-information h3{
    font-size: 45px;
    margin-top: 200px;
    margin-right: 70px;
    margin-left: 100px;
    
}
.explanation p{
    font-size: 23px;
    font-weight: lighter;
    margin-top: 52px;
    
}

.magician{
    margin-top: 170px;
    margin-left: 50px; 
    margin-right: 30px;   
}
.last-information{
    display: flex;
    justify-content: center;
   
}

    

.last-information h3{
    font-size: 45px;
    margin-top: 200px;
    margin-right: 70px;
    margin-left: 100px;
}
.general-information{
    background-image: url(../img/wave.svg);
    
}
 .big{
    font-size: 55px;
    margin-top: 160px;

}
.big, .small{
    text-align: center;

}
.small{
    font-size: 23px;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.top-img{
    display: flex;
    justify-content: center;
}
.adventure-information{
    background-image: url(../img/stars.svg);
    background-position-x: 150px;
}
 
.mac-button{
    display: flex;
    justify-content: center;
}
/* nav */
.container .title ul{display: flex;
    
}
.title nav{display: flex;
    align-items: center;
    
}
ul{
    margin-left: 80px;
    margin-right: auto;
    margin-top: 10px;
}

ul li{
    list-style: none;
    margin-left: 45px;

}
ul a{
    text-decoration: none;
    color: white;
}


/* footer */
.top-footer{
    background-color: #23272a;
    width: 100%;
    margin-top: 200px;
}
.option-footer{
    display: flex;
    justify-content: space-evenly;
}
h4, span{
    color:#7289da;
    margin-top: 100px;
}
h4{
    font-size: 35px;
    font-weight: bold;
    
}
 span{
    font-size: 20px;
}
.icon-footer img, .italy{
    width: 25px;
}
.italy{
    margin-left: 8px;
    color: white;
    font-weight: normal;
}


.social-footer .fa-brands{
    font-size: 22px;
    color: white;
    
    
}
.social-footer{
    display: flex;
    justify-content: ;
}


/* button */
.fa-solid {
    margin-right: 10px;
}

.first-button{
    padding: 8px 30px;
    border-radius:15px;
    border:none;
}

.second-button, .third-button, .fourth-button{
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
}
.third-button{
    background-color: black;
    margin-left: 25px;
}
.third-button, .fourth-button{
    color: white;
}

.fourth-button{
    margin-top: 40px;
    background-color: #7289da;
}