/* general rule */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
font-family: 'Roboto', sans-serif;
}
/* common */
.container{
    max-width: 1200px;
    margin: auto;
}
/* header */
.container .header-top{
    background-color:#255ee9 ;
}
/* main */

/* nav */

/* footer */