/* general rule */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
font-family: 'Roboto', sans-serif;
}
/* common */
.container{
    max-width: 1350px;
    margin: auto;
}
/* header */
.header-top .container {
    background-color:#255ee9 ;   
}
.title{
    display: flex;
}
.title .fa-brands,h1{
    
    margin-top: 40px;
    color: white;
   
}
.fa-brands{
    vertical-align: middle;
    margin-left: 200px; 
    font-size: 40px;
    padding-bottom: 60px;
    
}
h1{
    vertical-align: middle;
    margin-left: 10px;
    font-size: 25px;
    padding-top: 10px;
}
ul li{
    list-style: none;
    margin-left: 45px;

}
ul a{
    text-decoration: none;
    color: white;
    

}
.entry{ margin-top: 60px;
    margin-left: 200px;
    
}
/* main */

/* nav */
  .container .title ul{display: flex;
    
}
.title nav{display: flex;
    align-items: center;
    
}
ul{
    margin-left: 80px;
    margin-right: auto;
    margin-top: 10px;
}

/* footer */
/* button */
.first-button{
    padding: 8px 30px;
    border-radius:15px;
    border:none;
}
